# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

2023-09-28 07:43:59.446019: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [3]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"


# Review the DataFrame
df = pd.read_csv(file_path)
df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
# Review the data types associated with the columns
df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [9]:
# Define the target set y using the credit_ranking column

y = df["credit_ranking"]

# Display a sample of y
y[:5]

0    5
1    5
2    5
3    6
4    5
Name: credit_ranking, dtype: int64

In [10]:
# Define features set X by selecting all columns but credit_ranking
X = df.drop(columns=["credit_ranking"]).copy()

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [11]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
# Assign the function a random_state equal to 1

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [12]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = 11



# Review the number of features
number_input_features

11

In [15]:
# Define the number of neurons in the output layer
output_layer = 1

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 6

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

6

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 3

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

3

In [18]:
# Create the Sequential model instance
nn = Sequential()

In [19]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [20]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=output_layer, activation="linear"))

In [24]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 72

 dense_1 (Dense)             (None, 3)                 21

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 97 (388.00 Byte)
Trainable params: 97 (388.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [26]:
# Compile the Sequential model
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [27]:
# Fit the model using 50 epochs and the training data
deep_net_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 1s 1ms/step - loss: 31.5087 - mse: 31.5087
Epoch 2/50
38/38 [==============================] - 0s 1ms/step - loss: 27.9414 - mse: 27.9414
Epoch 3/50
38/38 [==============================] - 0s 1ms/step - loss: 24.5457 - mse: 24.5457
Epoch 4/50
38/38 [==============================] - 0s 1ms/step - loss: 21.1558 - mse: 21.1558
Epoch 5/50
38/38 [==============================] - 0s 1ms/step - loss: 17.8775 - mse: 17.8775
Epoch 6/50
38/38 [==============================] - 0s 1ms/step - loss: 14.8978 - mse: 14.8978
Epoch 7/50
38/38 [==============================] - 0s 1ms/step - loss: 12.3068 - mse: 12.3068
Epoch 8/50
38/38 [==============================] - 0s 1ms/step - loss: 10.1614 - mse: 10.1614
Epoch 9/50
38/38 [==============================] - 0s 1ms/step - loss: 8.4369 - mse: 8.4369
Epoch 10/50
38/38 [==============================] - 0s 1ms/step - loss: 7.0615 - mse: 7.0615
Epoch 11/50
38/38 [==============================] - 0s 1ms/step - loss: 5.9774 - mse: 5.9774
Epoch 12/50
38/38 [==============================] - 0s 1ms/step - loss: 5.0921 - mse: 5.0921
Epoch 13/50
38/38 [==============================] - 0s 1ms/step - loss: 4.3886 - mse: 4.3886
Epoch 14/50
38/38 [==============================] - 0s 1ms/step - loss: 3.8053 - mse: 3.8053
Epoch 15/50
38/38 [==============================] - 0s 1ms/step - loss: 3.3478 - mse: 3.3478
Epoch 16/50
38/38 [==============================] - 0s 1ms/step - loss: 2.9879 - mse: 2.9879
Epoch 17/50
38/38 [==============================] - 0s 1ms/step - loss: 2.7087 - mse: 2.7087
Epoch 18/50
38/38 [==============================] - 0s 1ms/step - loss: 2.4841 - mse: 2.4841
Epoch 19/50
38/38 [==============================] - 0s 1ms/step - loss: 2.2977 - mse: 2.2977
Epoch 20/50
38/38 [==============================] - 0s 1ms/step - loss: 2.1335 - mse: 2.1335
Epoch 21/50
38/38 [==============================] - 0s 1ms/step - loss: 1.9938 - mse: 1.9938
Epoch 22/50
38/38 [==============================] - 0s 1ms/step - loss: 1.8694 - mse: 1.8694
Epoch 23/50
38/38 [==============================] - 0s 1ms/step - loss: 1.7544 - mse: 1.7544
Epoch 24/50
38/38 [==============================] - 0s 1ms/step - loss: 1.6527 - mse: 1.6527
Epoch 25/50
38/38 [==============================] - 0s 1ms/step - loss: 1.5528 - mse: 1.5528
Epoch 26/50
38/38 [==============================] - 0s 1ms/step - loss: 1.4625 - mse: 1.4625
Epoch 27/50
38/38 [==============================] - 0s 1ms/step - loss: 1.3776 - mse: 1.3776
Epoch 28/50
38/38 [==============================] - 0s 1ms/step - loss: 1.3043 - mse: 1.3043
Epoch 29/50
38/38 [==============================] - 0s 1ms/step - loss: 1.2372 - mse: 1.2372
Epoch 30/50
38/38 [==============================] - 0s 1ms/step - loss: 1.1777 - mse: 1.1777
Epoch 31/50
38/38 [==============================] - 0s 1ms/step - loss: 1.1250 - mse: 1.1250
Epoch 32/50
38/38 [==============================] - 0s 1ms/step - loss: 1.0717 - mse: 1.0717
Epoch 33/50
38/38 [==============================] - 0s 1ms/step - loss: 1.0239 - mse: 1.0239
Epoch 34/50
38/38 [==============================] - 0s 1ms/step - loss: 0.9811 - mse: 0.9811
Epoch 35/50
38/38 [==============================] - 0s 1ms/step - loss: 0.9436 - mse: 0.9436
Epoch 36/50
38/38 [==============================] - 0s 1ms/step - loss: 0.9049 - mse: 0.9049
Epoch 37/50
38/38 [==============================] - 0s 1ms/step - loss: 0.8720 - mse: 0.8720
Epoch 38/50
38/38 [==============================] - 0s 1ms/step - loss: 0.8427 - mse: 0.8427
Epoch 39/50
38/38 [==============================] - 0s 1ms/step - loss: 0.8136 - mse: 0.8136
Epoch 40/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7883 - mse: 0.7883
Epoch 41/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7674 - mse: 0.7674
Epoch 42/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7460 - mse: 0.7460
Epoch 43/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7272 - mse: 0.7272
Epoch 44/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7085 - mse: 0.7085
Epoch 45/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6920 - mse: 0.6920
Epoch 46/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6754 - mse: 0.6754
Epoch 47/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6607 - mse: 0.6607
Epoch 48/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6477 - mse: 0.6477
Epoch 49/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6357 - mse: 0.6357
Epoch 50/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6239 - mse: 0.6239

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [28]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model1_loss, model1_mse = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
model1_loss, model1_mse

13/13 - 0s - loss: 0.6122 - mse: 0.6122 - 133ms/epoch - 10ms/step

(0.612240195274353, 0.612240195274353)

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [29]:
# Set the model's file path
file_path = Path("saved_model/student_loans.h5")

# Export your model to a HDF5 file
nn.save(file_path)

/Users/torylbrown/anaconda3/lib/python3.11/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [30]:
# Set the model's file path
file_path = Path("saved_model/student_loans.h5")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data.

In [31]:
# Make predictions on the testing data
predictions = nn.predict(X_test_scaled).round().astype("int32")

13/13 [==============================] - 0s 1ms/step

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [32]:
# Create a DataFrame to compare the predictions with the actual values
results = pd.DataFrame({"predictions": predictions.ravel(), "actual": y_test})

### Step 4: Display a sample of the DataFrame you created in step 3.

In [33]:
# Display sample data
results.head(10)

      predictions  actual
75              5       5
1283            4       6
408             6       6
1281            5       6
1118            6       6
1143            7       6
1215            6       6
181             4       5
1186            6       5
1252            5       5